$Primary-shades-200: #24A973;
$Primary-primary: #54DBA4;
$Primary-shades-100: #27B97E;
$Secondary-secondary: #3B5184;
$gray-300:#4B5155;
$other-Card-Background:#F8F8F8;
$Text-primary:#26292B;
$Text-Shade-300:#4B5155;
