section {
  margin-bottom: 112px;

  img {
    width: 27px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  p {
    font-size: 12px;
    text-align: center;
    color: #C2C6C9;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 11px;
  }
}
