@media (max-width: 992px) {
  section {

    .title {
      margin-bottom: 50px;
    }

    .feature-image-right {
      margin-bottom: 20px;
    }

    .feature-content {
      p {
        width: 100%;
      }
    }
  }
}
