@import "src/style/app/variables";

@mixin font-and-color($size,$color) {
  font-size: $size;
  color: $color;
}

@mixin bgc-and-border-and-color($bgc,$border,$color) {
  background-color: $bgc;
  border: $border;
  color: $color;
}

@mixin shape($width,$height,$top,$left,$right,$bottom,$z-index) {
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  z-index: $z-index;
}

header {
  margin-top: 76px;
  padding-bottom: 7%;

  .header-text {
    position: relative;

    .header-title {
      h1 {
        @include font-and-color(64px, $Primary-primary);
        line-height: 80px;
      }

      span {
        @include font-and-color(48px, $Secondary-secondary)
      }

      p {
        @include font-and-color(21px, $gray-300);
        margin-top: 21px;
        width: 80%;
        line-height: 190%;
      }
    }

    .header-buttons {
      margin-top: 32px;

      .straight-link {
        @include bgc-and-border-and-color($Primary-primary, 1px solid $Primary-primary, #fff);
        margin-left: 17px;
      }

      .bazaar-link {
        @include bgc-and-border-and-color(#fff, $Primary-shades-100, 1px solid $Primary-shades-100)
      }

      a {
        padding: 8px 16px;
        border-radius: 8px;
      }
    }

    .header-square2 {
      @include shape(16px, auto, auto, auto, 20%, 20%, 3);
    }

    .header-circles {
      @include shape(20px, auto, -5%, 30%, auto, auto, 3);
    }
  }

  .header-character {
    position: relative;
    right: 10%;

    img {
      margin-top: -5%;
      width: 60%;
      height: auto;
      position: relative;
      z-index: 2;
    }

    .header-history {
      @include shape(243px, auto, auto, 15%, auto, 20%, 3);
    }

    .header-reserve {
      @include shape(auto, 90px, auto, auto, -30%, 5%, 1);
    }

    .header-turn {
      @include shape(900px, auto, auto, auto, -75%, -5%, 1);
    }

    .header-polygon {
      @include shape(50px, auto, -3%, auto, 45%, auto, 1);
    }

    .header-behind-circle {
      @include shape(200px, auto, 3%, 15%, auto, auto, 1);
    }

    .header-square1 {
      @include shape(22px, auto, 41%, 11%, auto, auto, 1);
    }

    .header-background-green {
      @include shape(306px, 140%, -30%, 22%, auto, auto, -1);
      background: #F5FFFC;
    }
  }

}
