@media (max-width: 1200px) {
  nav {
    .menu-items {
      width: 90% !important;
    }

    .menu-panel {
      width: 100% !important;
    }
  }
}

@media (max-width: 992px) {
  nav {

    .menu-items {
      width: 100% !important;
      margin-bottom: 20px;
    }

    .menu-panel {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }

    .logo {
      img {
        width: 35px;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  nav {
    .menu-items {
      margin-bottom: 0;
      display: none;
    }
  }
}
