@media (max-width: 1400px) {
  .stats-container {
    top: -102px;
  }
}

@media (max-width: 1200px) {
  .stats-container {
    top: -90px;
  }
}

@media (max-width: 992px) {
  .stats-container {
    top: -75px
  }

}

@media (max-width: 768px) {
  .stats-container {
    top: -60px;
  }
}
